numba==0.55.1
numpy~=1.21.4
opencv-python
openVO
smbus2~=0.4.1
psutil
keyboard
wheel~=0.37.0
matplotlib~=3.5.1
simple_pid
sklearn
digi-xbee
board
adafruit-circuitpython-pca9685
adafruit-circuitpython-motor
adafruit-circuitpython-mpu6050
